@model QuoteQuizModel.Binary
@{
    ViewBag.Title = "Incorrect";
}

<div class="well well-lg text-center">
    <h2>Your answer is INCORRECT!</h2>
    <h3>The right answer is <strong>@(Model.Answer ? "Yes" : "No")</strong></h3>
    <h3>Question</h3>
    <div class="well well-sm" style="background-color:#ff1a75;color:white;border-radius:10px;">
        @Html.DisplayFor(q => q.Question)<br />
    </div>
    @Html.ActionLink("Back to binary questions", "Index", "Main")
</div>
